*{
    margin: 0;
}
body{
    background-color: #022324;
    letter-spacing: 0.2cm;
    font-size: 0.8cm;
    text-align: center;
    color: #F3F2C9;
    text-shadow: 0 0 6px #000000, 0 0 6px #000000;
}

.total{
    display: grid;
    height: 3cm;
    width: 100;
    grid-template-columns: 4cm 30cm;
    margin-left: 1.3cm;
}
.location{
    font-family: 'ZCOOL KuaiLe', cursive;
}
.mark{
    border-radius: 50%;
    margin-left: 2cm;
    margin-top: 0.3cm;
    border: 5px solid #F3F2C9;
}
.msg{
    max-width: 92%;
    margin-left: 1.5cm;
    font-family: lucida Handwriting;
    text-shadow: 0 0 6px #000000, 0 0 6px #000000;
}
.name{
    margin-top: 5px;
    font-size: 80px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0 0 6px #000000, 0 0 6px #000000;
}

.card {
    background-color: #1b6568;
    font-weight: bold;
    transition: 0.3s;
    width: 9cm;
    height: 14.2cm;
    margin-top: 10px;
    margin-left: 39%;
    border: #ccc;
    border-radius: 10px;
    text-shadow: 0;
    text-shadow: 0;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.details{
    padding: 43px;
    text-shadow: 3px #000000;
}

.icon{
    align-self: center;
    position: relative;
    top: -10px;
    border-radius: 50%;
    width: 100px;
    margin-left: 60px;
    margin-bottom: -50px;
}
.time{
    width: 9cm;
    border-radius: 10px 10px 0 0;
}
.h{
    margin-top: 18%;
    font-size: 100px;
}
.footer {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    height: 1.3cm;
    margin-top: 1%;
}
.footer a {
    float: center;
    margin-left: 2cm;
    color: #F3F2C9;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 40px;
}
.footer a:hover {
    background-color: #ddd;
    color: black;
}